DB_HOST=localhost
DB_PORT=5430
DB_NAME=tz_auth
DB_USER=tz_auth
DB_PASS=tz_auth

POSTGRES_DB=tz_auth
POSTGRES_USER=tz_auth
POSTGRES_PASSWORD=tz_auth

SECRET_KEY=sdlfhbgsldjfhbvsdl

# ==========JWT=========
JWT_SECRET_KEY="314omct7y13ogh8lm7y3c0m14y5nv0c13y45mvc713x4,1=28v5934"
JWT_ACCESS_TOKEN_TTL=15
JWT_REFRESH_TOKEN_TTL=30

# =========REDIS=========
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=tz_auth
REDIS_PASSWORD=tz_auth

